#welcome-message {
    margin-top: 60px;
    margin-bottom: -40px;
}

.container {
    padding-top: 100px;
    padding-bottom: 40px;
}

.hidden {
    display: none;
}

#login {
    padding: 0 20px 35px 20px;
    margin: 15px 20px 0 20px;
    font-size: 110%;
}

#login-error {
    color: white;
    line-height: 30px;
    text-align: center;
}

#login-error i {
    margin-top: 3px;
}

#login-error span {
    position: relative;
    top: -6px;
}
#loginform li {
    margin-left: 10px;
}