#welcome-message {
    margin-top: 60px;
    margin-bottom: -40px;
}

#about-page {
    text-align: center;
    font-size: 200%;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#comment-container {
    border: .2px solid #c7c7c7;
    max-height: 815px;
    overflow-y: auto;
}

#comment-container h3 {
    text-align: center;
}

.container {
    padding-top: 100px;
    padding-bottom: 40px;
}

.hidden {
    display: none;
}

#login {
    padding: 0 20px 35px 20px;
    margin: 15px 20px 0 20px;
    font-size: 110%;
}

#login-error {
    color: white;
    line-height: 30px;
    text-align: center;
}

#login-error i {
    margin-top: 3px;
}

#login-error span {
    position: relative;
    top: -6px;
}

#loginform li {
    margin-left: 10px;
}

#fileupload {
    height: 150px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: -20px;
    margin-bottom: 20px;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.fullscreen-image {
    height: 630px;
    width: 630px;
}

#comment-image {
    margin-right: 5%;
}

.user-image {
    height: 400px;
    width: 400px;
}

#fileupload form {
    margin-left: 62%;
    position: relative;
    top: -90px;
}

#fileupload p {
    margin-left: 50px;
    font-size: 200%;
    text-align: left;
}

#logoutform i {
    padding: 20px 20px 20px 20px;
    font-size: 130%;
    height: 30px;
    position: relative;
    top: -12px;
    margin-left: 15px;
    margin-right: 15px;
}

#logoutform input {
    position: relative;
    top: -31px;
}